.sidebar{
    background-color: bisque;
    grid-area: sidebar;
}
.nav {
    display: flex;
    flex-direction: column;
}
.item {
text-decoration: none;
}
.active {
text-decoration: none;
color: rgb(255, 0, 0)
}